{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@common": "common/src",
          "@mobile": "./src",
          "@mobile/resources": "./resources"
        }
      }
    ]
  ],
  "sourceMaps": true
}